body,
html {
  margin: 0;
  padding: 0;
  font-family: Arial;
  height: 100%;
  box-sizing: border-box;
  scroll-behavior: smooth;
}

/* Adicionando uma imagem de fundo ao body */
body {
  background-image: url('img/bg.jpg'); /* Caminho da imagem */
  background-size: cover; /* A imagem cobre toda a tela */
  background-position: center; /* Centraliza a imagem */
  background-repeat: no-repeat; /* Impede que a imagem se repita */
  background-attachment: fixed; /* A imagem fica fixa ao rolar a página */
  font-family: Arial, sans-serif;
  color: white; /* Cor do texto para contraste */
}

.logo {
  display: flex;
  flex-direction: column; /* Alinha os nomes um em cima do outro */
  font-size:23px ;
}

.navbar {
  background-color: #333;
  color: #fff;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 10px 20px;
  height: 50px;
  position: sticky;
  z-index: 1000;
}


.nav-links {
  list-style: none;
  margin: 20px;
  padding: 20px;
  display: flex;
  align-items: center;
  /* gap: 1.2rem; */
  gap: 30px;
  font-style: none;
}

a {
  text-decoration: none; /* Remove o sublinhado */
  color: white; /* Cor branca para o texto */
  font-size: 18px;
  transition: color 0.8s ease; /* Transição suave ao passar o mouse */
}
a:hover {
  color: #18ceee; /* Cor amarela ao passar o mouse */
}

.home {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 100vh;
  background-image: url('caminho/para/sua-imagem.jpg');
  background-size: cover;
  background-position: center;
  color: white;
  text-align: center;
  padding: 20px;
}

.foto img{
  height: 250px;
  border: solid;
  border-radius: 18px;
  margin-left: 30px;
  margin-top: 20px;
  border-color: #333;
}

.apresentacao{
  display: flex;
  text-align: center;
  justify-content: center;
  margin-top: 0px;
}
.nome{
  color: #18ceee;
  padding: 7px;
  background-color: #333;
  border-radius: 18px;
  margin-top: 10px ;
}


.tecnologia-intro{
  justify-content: center;
  color: aliceblue;
  font-weight: 500;
}



/* Introdução no topo */
.intro h1 {
  font-size: 48px;
  margin-bottom: 10px;
  text-align: left;
}

.intro p {
  font-size: 24px;
  margin-bottom: 30px;
}

h1,p{
  color: black;
}

.galeria{
  background-color: #333;
  border-radius: 18px;

}
.galeria img{
  width: 100px;
  height: 100px;
  object-fit: cover;
  margin: 0px;
  padding: 20px;
  border-radius: 30px;
}

/* Fim parte do Index / Main 

Inicio da parte de Projetos
*/

.project-card img{
  transition: transform 0.3s ease;
  border: solid;
  border-color: #333;

  
}

img:hover{
  transform: scale(1.1);
  }

.projects-section{
  margin-top: 40px;
  margin-left: 30px;
  display: flex;
  justify-content: space-between;

  a{
    font-weight: bold;
    color: #18ceee;
    padding: 9px;
    background-color: #333;
    border-radius: 18px;
    margin-top: 10px ;
  }
}


  

.projects-grid {
  display: flex; /* Torna o container um flexbox */
  flex-wrap: wrap; /* Permite que os itens passem para a linha seguinte, se necessário */
  justify-content: space-between; /* Distribui os itens horizontalmente com espaço entre eles */
  gap: 20px; /* Espaçamento entre os project-cards */
  margin-top: 50px;
}
