body,
html {
  margin: 0;
  padding: 0;
  /* font-family: Arial; */
  height: 100%;
  box-sizing: border-box;
  scroll-behavior: smooth;
  font-family: "Space Grotesk", sans-serif;
}

.space-grotesk-spacefont {
  font-family: "Space Grotesk", sans-serif;
  font-optical-sizing: auto;
  font-weight: 400;
  font-style: normal;
}


/* Adicionando uma imagem de fundo ao body */
body {
  background-image: url('img/bg.jpg'); /* Caminho da imagem */
  background-size: cover; /* A imagem cobre toda a tela */
  background-position: center; /* Centraliza a imagem */
  background-repeat: no-repeat; /* Impede que a imagem se repita */
  background-attachment: fixed; /* A imagem fica fixa ao rolar a página */
  font-family: "Space Grotesk", sans-serif;
  color: white; /* Cor do texto para contraste */
}

.logo {
  display: flex;
  flex-direction: column; /* Alinha os nomes um em cima do outro */
  font-size:23px ;
  font-family: "Space Grotesk", sans-serif;
}

.navbar {
  background-color: #333;
  color: #fff;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 10px 20px;
  height: 50px;
  position: sticky;
  z-index: 1000;
  width: 100%;
  font-family: "Space Grotesk", sans-serif;
}


.nav-links {
  list-style: none;
  margin: 20px;
  padding: 20px;
  display: flex;
  align-items: center;
  /* gap: 1.2rem; */
  gap: 30px;
  font-style: none;
}

a {
  text-decoration: none; /* Remove o sublinhado */
  color: white; /* Cor branca para o texto */
  font-size: 18px;
  transition: color 0.8s ease; /* Transição suave ao passar o mouse */
}
a:hover {
  color: #18ceee; /* Cor amarela ao passar o mouse */
}

.home {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 100vh;
  background-size: cover;
  background-position: center;
  color: white;
  text-align: center;
  padding: 20px;
}

.foto img{
  height: 250px;
  border: solid;
  border-radius: 18px;
  margin-left: 30px;
  margin-top: 20px;
  border-color: #333;
}

.apresentacao{
  display: flex;
  text-align: center;
  justify-content: center;
  margin-top: 0px;
}
.nome{
  color: #18ceee;
  padding: 7px;
  background-color: #333;
  border-radius: 18px;
  margin-top: 10px ;
  font-family: 'Courier New', Courier, monospace;
}


.tecnologia-intro{
  justify-content: center;
  color: aliceblue;
  font-weight: 500;
}



/* Introdução no topo */
.intro h1 {
  font-size: 48px;
  margin-bottom: 10px;
  text-align: left;
}

.intro p {
  font-size: 24px;
  margin-bottom: 30px;
}

h1,p{
  color: black;
}

.galeria{
  background-color: #333;
  border-radius: 18px;

}
.galeria img{
  width: 100px;
  height: 100px;
  object-fit: cover;
  margin: 0px;
  padding: 20px;
  border-radius: 30px;
}

/* Fim parte do Index / Main 

Inicio da parte de Projetos
*/
.project-card h3{
  color: #333;
}


.project-card img{
  transition: transform 0.3s ease;
  border: solid;
  border-color: #333;

  
}

img:hover{
  transform: scale(1.1);
  }

.projects-section{
  margin-top: 30px;
  margin-left: 30px;
  display: flex;
  justify-content: space-between;
  

  a{
    font-weight: bold;
    color: #18ceee;
    padding: 9px;
    background-color: #333;
    border-radius: 18px;
    margin-top: 10px ;
  }

  h2{
    color: #ccc ;
    background-color: #18181f;
    display: inline;
    border-radius: 18px;
    padding: 10px;
  }
}


.projects-grid {
  display: flex; /* Torna o container um flexbox */
  flex-wrap: wrap; /* Permite que os itens passem para a linha seguinte, se necessário */
  justify-content: space-between; /* Distribui os itens horizontalmente com espaço entre eles */
  gap: 20px; /* Espaçamento entre os project-cards */
  margin-top: 40px;
  margin-bottom: 30px;

}

.sobre-secao{
  margin-left: 30px;
  margin-top: 20px;

  .container-sobre{
    width: 50%; /* Largura da div */
    margin: 0 50px; /* Centraliza horizontalmente */
    font-family: "Space Grotesk", sans-serif;
  }
}

.sobre-secao h2 {
  font-size: 2.5rem;
  color: #333;
  margin-bottom: 40px;
}

.sobre-secao p {
  font-size: 1.2rem;
  line-height: 1.6;
  color: #666;
  max-width: 800px;
  margin-top: 30px;
  margin-bottom: 60px;
  font-weight: 400;

  background: rgba(144, 151, 212, 0.3); 
  backdrop-filter: blur(1px); /* Desfoque de fundo */
  border: 1px solid rgba(56, 41, 41, 0.3); /* Borda semi-transparente */
  padding: 30px;
  border-radius: 18px; /* Bordas arredondadas */
  max-width: 400px;
  color: #18181f; /* Cor do texto */
  text-align: center;
  box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1); /* Sombra suave */
  opacity: 1;
}

.footer {
  background-color: #333;
  color: #fff;
  text-align: center;
  padding: 20px;
  position: relative;
  bottom: 0;
  width: 100%;
}
.footer p{
  margin: 0;
  font-size: 1rem;
  color: rgb(100, 116, 131);
}

/* Contato ------------------------------------------------------------------*/


/* Seção Contato */
.contato-secao {
  text-align: center;
}

.contato-secao h2 {
  font-size: 2.5rem;
  color: #333;
  margin-bottom: 10px;
}

.contato-secao p {
  font-size: 1.2rem;
  color: #666;
  max-width: 800px;
  margin: 0 auto 20px;
}

/* Estilos do Formulário */
.form-contato {
  max-width: 600px;
  margin: 0 auto;
}

.form-grupo {
  margin-bottom: 20px;
  text-align: left;
}

.form-grupo label {
  font-size: 1.1rem;
  color: #333;
  display: block;
  margin-bottom: 5px;
}

.form-grupo input, 
.form-grupo textarea {
  width: 100%;
  padding: 10px;
  font-size: 1rem;
  border: 1px solid #ccc;
  border-radius: 5px;
  box-sizing: border-box;
}

.form-grupo input:focus, 
.form-grupo textarea:focus {
  outline: none;
  border-color: #007BFF;
}

button[type="submit"] {
  padding: 10px 20px;
  font-size: 1.1rem;
  color: #fff;
  background-color: #007BFF;
  border: none;
  border-radius: 5px;
  cursor: pointer;
}

button[type="submit"]:hover {
  background-color: #0056b3;
}

/* Informações de Contato */
.info-contato {
  margin-top: 40px;
  color: #333;
}

.info-contato h3 {
  font-size: 1.5rem;
  margin-bottom: 15px;
}

.info-contato p {
  font-size: 1.1rem;
  margin-bottom: 10px;
}

.info-contato a {
  color: #007BFF;
  text-decoration: none;
}

.info-contato a:hover {
  text-decoration: underline;
}

.container {
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
}

.form-contato-container {
  width: 60%; /* Tamanho do bloco que contém o título, o parágrafo e o formulário */
  display: flex;
  flex-direction: column; /* Alinha os elementos verticalmente */
}

.form-contato {
  width: 100%; /* O formulário ocupa toda a largura disponível dentro do bloco */
}

.info-contato {
  width: 35%; /* Tamanho da área de contato */
  text-align: left; /* Alinha o texto à esquerda */
  margin-top: 270px; 
  border: solid;
  padding-left: 20px;
  padding-bottom: 10px;
  border-radius: 18px;
  margin-right: 10px;
  background-color: rgba(0, 0, 0, 0.2);
  font-weight: 300;
}

/* Rodapé */
.footer {
  background-color: #333;
  color: #fff;
  text-align: center;
  padding: 20px;
  margin-top: 10px;
  display: block;
}

.footer p {
  margin: 0;
  font-size: 1rem;

}

/* Celular */

/* Responsividade para dispositivos móveis */
@media (max-width: 768px) {
  
  /* Navbar ajustada para telas pequenas */
  .navbar {
    flex-direction: column; /* Torna os itens empilhados verticalmente */
    height: auto;
    padding: 15px;
  }

  .logo {
    font-size: 20px;
    margin-bottom: 10px;
  }

  .nav-links {
    flex-direction: column; /* Links empilhados */
    align-items: flex-start;
    gap: 15px; /* Menor espaço entre os itens */
    padding: 0;
    margin: 0;
  }

  .nav-links li {
    margin: 10px 0;
  }

  /* Ajuste de margens e tamanhos */
  .home {
    padding: 10px;
  }

  /* Ajuste da apresentação */
  .apresentacao {
    flex-direction: column; /* Empilha o texto e a imagem verticalmente */
    align-items: center;
  }

  .foto img {
    height: 150px; /* Reduz o tamanho da imagem no celular */
    margin-left: 0;
    margin-top: 10px;
  }

  .intro h1 {
    font-size: 32px; /* Ajuste do tamanho da fonte */
  }

  .intro p {
    font-size: 18px; /* Ajuste do tamanho do parágrafo */
  }

  .nome {
    font-size: 24px;
  }

  /* Galeria de skills */
  .galeria {
    display: grid;
    grid-template-columns: repeat(3, 1fr); /* Exibe 3 colunas */
    gap: 10px;
    padding: 15px;
  }

  .galeria img {
    width: 70px;
    height: 70px;
    padding: 5px;
  }

  /* Rodapé */
  .footer {
    padding: 10px;
    font-size: 14px;
  }

}

/* Responsividade para dispositivos móveis */
@media (max-width: 768px) {

  .container{
    flex-direction: column;
  }

  .sobre-secao p {
    width: 80%;
  }
  
  /* Navbar ajustada para telas pequenas */
  .navbar {
    flex-direction: column; /* Torna os itens empilhados verticalmente */
    height: auto;
    padding: 15px;
  }

  .logo {
    font-size: 20px;
    margin-bottom: 10px;
  }

  .nav-links {
    flex-direction: column; /* Links empilhados */
    align-items: flex-start;
    gap: 15px; /* Menor espaço entre os itens */
    padding: 0;
    margin: 0;
  }

  .nav-links li {
    margin: 10px 0;
  }

  /* Ajuste de margens e tamanhos */
  .home {
    padding: 10px;
  }

  /* Ajuste da apresentação */
  .apresentacao {
    flex-direction: column; /* Empilha o texto e a imagem verticalmente */
    align-items: center;
  }

  .foto img {
    height: 150px; /* Reduz o tamanho da imagem no celular */
    margin-left: 0;
    margin-top: 10px;
  }

  .intro h1 {
    font-size: 32px; /* Ajuste do tamanho da fonte */
  }

  .intro p {
    font-size: 18px; /* Ajuste do tamanho do parágrafo */
  }

  .nome {
    font-size: 24px;
  }

  /* Galeria de skills */
  .galeria {
    display: grid;
    grid-template-columns: repeat(3, 1fr); /* Exibe 3 colunas */
    gap: 10px;
    padding: 15px;
  }

  .galeria img {
    width: 70px;
    height: 70px;
    padding: 5px;
  }

  /* Rodapé */
  .footer {
    padding: 10px;
    font-size: 14px;
  }

}


/* Celular */

/* Responsividade para dispositivos móveis */
@media (max-width: 768px) {
  
  /* Navbar ajustada para telas pequenas */
  .navbar {
    flex-direction: column; /* Torna os itens empilhados verticalmente */
    height: auto;
    padding: 15px;
  }

  .logo {
    font-size: 20px;
    margin-bottom: 10px;
  }

  .nav-links {
    flex-direction: column; /* Links empilhados */
    align-items: flex-start;
    gap: 15px; /* Menor espaço entre os itens */
    padding: 0;
    margin: 0;
  }

  .nav-links li {
    margin: 10px 0;
  }

  /* Ajuste de margens e tamanhos */
  .home {
    padding: 10px;
  }

  /* Ajuste da apresentação */
  .apresentacao {
    flex-direction: column; /* Empilha o texto e a imagem verticalmente */
    align-items: center;
  }

  .foto img {
    height: 150px; /* Reduz o tamanho da imagem no celular */
    margin-left: 0;
    margin-top: 10px;
  }

  .intro h1 {
    font-size: 32px; /* Ajuste do tamanho da fonte */
  }

  .intro p {
    font-size: 18px; /* Ajuste do tamanho do parágrafo */
  }

  .nome {
    font-size: 24px;
  }

  /* Galeria de skills */
  .galeria {
    display: grid;
    grid-template-columns: repeat(3, 1fr); /* Exibe 3 colunas */
    gap: 10px;
    padding: 15px;
  }

  .galeria img {
    width: 70px;
    height: 70px;
    padding: 5px;
  }

  /* Rodapé */
  .footer {
    padding: 10px;
    font-size: 14px;
  }

}





